body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  background-color: #cecfd0;
}
#root {
  padding: 6px;
}

.house {
  width: 100%;
  min-width: 222px;
  background: #2980b9;
  border-radius: 6px;
  border: 2px solid #2980b9;
  padding-bottom: 20px;

}

.room {
  min-width: 204px;
  background: #f7f7f7;
  margin: 10px 4px;
  border: 2px solid #f1c40f;
  border-radius: 5px;
  padding: 3px 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.unitDevice {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.device {
  width: 200px;
  height: 280px;
  border: 2px solid #96b4c7;
  border-radius: 5px;
  margin: 1px;
  display: inline-block;
  text-align: center;
}

.cPanel {
  border-bottom : 1px solid #6e9cff;
}

.cPanelRoom {
  min-height: 280px;
  width:  200px;
  border-radius: 5px;
  border: 2px solid #bda2c7;
  display: inline-table;
  background-color: #2980b930;
  margin: 1px;
  padding: 1px;

}

#npv {
  margin: 3px 0px;
  display: inline-block;
  color: #e8e8e8;
  font-size: 0.9em;
  font-weight: bold;
  float: right;
}

#nrp {
 /* margin: 0px;*/
  text-transform: uppercase;
  float: right;
  padding: 3px;
  font-size: 0.9em;
  font-weight: 900;
  color: royalblue;
}
#nrd {
  display: flex;
}
.delRoomDiv{
  display: table-footer-group;
}
.delIllumDiv{
  display: inline;
}


a.addRoom {
  margin: 7px 5px;
  display: inline-block;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #a9acaf; /* фон кнопки */
  padding: .4em 0.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 5px;
}
a.addRoom:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.addRoom:active { background: rgb(152,15,0); } /* при нажатии */

a.delElem {
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #c0392b;
  padding: 0.3em 0em;
  outline: none;
  display: block;
  text-align: center;
  border-radius: 0px 0px 3px 3px;
}

a.delElem:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.delElem:active { background: rgb(152,15,0); } /* при нажатии */

.btn {
  border-radius: 5px;
  background: #fff;
  margin: 2px;
  padding-top: 4px;
  width: 194px;
  display: block;
}

.btnPow {
  border-radius: 5px;
  background: #fff;
  margin: 4px;
  padding-top: 4px;
}

.slColor {
  height: 20px;
  width: 0px;
  background: #f1c40f;
  margin-left: 13.5px;
  margin-bottom: -10px;
  margin-top: 4px;
}
.sliderLoad {
  width: 180px;
  margin-left: 10px;
  margin-bottom: 7px;
}
.divSlider {
  border: solid #bdc3c7;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.divBright {
  margin-top: 3px;
  color: #9b59b6;
  font-weight: 900;
}
.imgLamp {
  margin: 0px 72px;
  margin-bottom: 3px;
  display: block;
}



